<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title>{{list.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="nameItem"
        (keyup.enter)="addItem()"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header *ngIf="list.items.length">
      <ion-label>To do's</ion-label>
    </ion-list-header>
    <ion-item-sliding
      class="animated fadeInDown"
      *ngFor="let item of list.items; let i = index"
    >
      <ion-item>
        <ion-label>{{item.description}}</ion-label>
        <ion-checkbox
          slot="start"
          (ionChange)="changeItem()"
          [(ngModel)]="item.finish"
        >
        </ion-checkbox>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="deleteItem(i)" color="danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
