<div class="mt-60 d-flex justify-content-center animated fadeIn fast">
  <div
    class="spinner-grow text-secondary"
    style="width: 5rem; height: 5rem;"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div
    class="spinner-grow text-success"
    style="width: 5rem; height: 5rem;"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div
    class="spinner-grow text-success"
    style="width: 5rem; height: 5rem;"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div
    class="spinner-grow text-secondary"
    style="width: 5rem; height: 5rem;"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
