/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
  margin: 10px 10px;
}

.button-container {
  padding: 5px;
  margin: 0;
}
.button-container > button {
  margin: 0px 5px;
}
