<h1 class="animated fadeIn fast">About Comic App</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quidem
  molestiae quae incidunt distinctio eos numquam dolor ipsum? Voluptatibus
  asperiores culpa ipsa quia quae quos. Repudiandae quas omnis aliquid harum.
</p>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi
  officia quo id expedita inventore voluptas! Accusamus quasi odio, ipsam
  temporibus ab dolore quibusdam, velit debitis placeat nemo omnis? Reiciendis?
</p>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quaerat,
  recusandae non ullam illum quo saepe vel molestias maxime! Explicabo possimus
  neque architecto aut quaerat exercitationem ducimus, quis voluptatem itaque?
</p>
