<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img
      src="../../../assets/images/fire-chat.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    FireChat
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link">Home</a>
      </li> -->
    </ul>
    <div>
      <button
        class="btn btn-outline-danger"
        *ngIf="_cs.user.uid"
        (click)="logout()"
      >
        Sign Out
      </button>
    </div>
  </div>
</nav>
