<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-3">Single Auth App</h1>
    <p class="lead">A single app that implement jwt auth</p>
  </div>
</div>

<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#tab1">Tab 1</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#tab2">Tab 2</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" class="nav-link" href="#tab3">Tab 3</a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane fade">
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab2" class="tab-pane fade">
    <br />
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="card text-white bg-info mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card text-white bg-info mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card text-white bg-info mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab3" class="tab-pane fade">
    <br />
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="card bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
