<div class="limiter animated fadeInRight fast">
  <div class="container-login100">
    <div class="wrap-login100 p-t-30 p-b-50 p-l-20 p-r-20">
      <form
        class="login100-form validate-form flex-sb flex-w"
        (ngSubmit)="register(RegisterForm)"
        #RegisterForm="ngForm"
      >
        <span class="login100-form-title p-b-25">
          Register
        </span>

        <span
          class="text-danger animated fadeIn"
          *ngIf="
            RegisterForm.submitted && RegisterForm.controls['email'].errors
          "
          >Email is required</span
        >
        <div class="wrap-input100 m-b-14">
          <input
            class="input100"
            type="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="usuario.email"
            email
            required
          />

          <span class="focus-input100"></span>
        </div>

        <span
          class="text-danger animated fadeIn"
          *ngIf="
            RegisterForm.submitted && RegisterForm.controls['username'].errors
          "
          >Username is required</span
        >
        <div class="wrap-input100 m-b-14">
          <input
            class="input100"
            type="text"
            name="username"
            placeholder="Username"
            [(ngModel)]="usuario.username"
            minlength="4"
            required
          />

          <span class="focus-input100"></span>
        </div>

        <span
          class="text-danger animated fadeIn"
          *ngIf="
            RegisterForm.submitted && RegisterForm.controls['password'].errors
          "
          >Password is required, It should has min 8 characters</span
        >
        <span
          class="text-danger animated fadeIn"
          *ngIf="
            RegisterForm.submitted &&
            !RegisterForm.controls['verifyPassword'].errors &&
            !verifyPasswordCondition
          "
          >Passwords isn't same</span
        >
        <div class="wrap-input100 m-b-14" data-validate="Password is required">
          <input
            class="input100"
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="usuario.password"
            minlength="8"
            required
          />
          <span class="focus-input100"></span>
        </div>

        <span
          class="text-danger animated fadeIn"
          *ngIf="
            RegisterForm.submitted &&
            RegisterForm.controls['verifyPassword'].errors
          "
          >Password is required, It should has min 8 characters</span
        >
        <span
          class="text-danger animated fadeIn"
          *ngIf="
            RegisterForm.submitted &&
            !RegisterForm.controls['verifyPassword'].errors &&
            !verifyPasswordCondition
          "
          >Passwords isn't same</span
        >
        <div
          class="wrap-input100 m-b-14"
          data-validate="Verify Password is required"
        >
          <input
            class="input100"
            type="password"
            name="verifyPassword"
            placeholder="Verify Password"
            [(ngModel)]="verifyPassword"
            (ngModelChange)="handelePassword(RegisterForm)"
            minlength="8"
            required
          />
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-20">
          <div></div>

          <div class="m-b-8">
            <a routerLink="/login" class="txt1">
              ¿Do you have account? / Sign In
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn m-t-10">
          <button class="login100-form-btn" type="submit">
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
