.float {
  position: absolute;
  z-index: 100;
  margin-top: 0;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.897);
  border: 1px solid hsla(0, 100%, 50%, 0.541);
  box-shadow: 0px 5px 10px #ccc;
}
