<div class="float" *ngIf="show">
  <small
    class="form-text"
    [class.text-danger]="!validate('eight-characters')"
    [class.text-success]="validate('eight-characters')"
  >
    8 carácteres
  </small>
  <small
    class="form-text"
    [class.text-danger]="!validate('lowercase')"
    [class.text-success]="validate('lowercase')"
  >
    1 letra minúscula
  </small>
  <small
    class="form-text"
    [class.text-danger]="!validate('uppercase')"
    [class.text-success]="validate('uppercase')"
  >
    1 letra mayúscula
  </small>
  <small
    class="form-text"
    [class.text-danger]="!validate('number')"
    [class.text-success]="validate('number')"
  >
    1 número
  </small>
  <small
    class="form-text"
    [class.text-danger]="!validate('special-character')"
    [class.text-success]="validate('special-character')"
  >
    1 carácter especial
  </small>
</div>
