<div class="row">
  <div class="col-sm-10">
    <h1>YoutubeApp</h1>
  </div>
  <div class="col-sm-2">
    <button
      class="btn btn-outline-danger float-right"
      type="button"
      *ngIf="channel"
      (click)="clear()"
    >
      Clear
    </button>
  </div>
</div>
<hr />

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Channel ID"
        aria-label="Channel ID"
        aria-describedby="button-addon2"
        [(ngModel)]="channelId"
        (keydown.enter)="findChannel()"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-danger"
          type="button"
          id="button-addon2"
          (click)="findChannel()"
        >
          Find Channel
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-center text-muted mt-2">
    Find last uploads from a specific Youtube channel
  </div>
</div>

<div *ngIf="channel && !loading" class="mb-80">
  <hr />
  <div class="row animated fadeIn fast">
    <div class="col-sm-12">
      <h2>Channel Info</h2>
    </div>
    <div class="col-md-2 col-sm-12">
      <img
        [src]="channel.image"
        class="img-fluid img-thumbnail"
        [alt]="channel.title"
      />
    </div>
    <div class="col-md-10 col-sm-12">
      <p class="mb-0"><strong>ID:</strong> {{ channel.id }}</p>
      <p><strong>Title:</strong> {{ channel.title }}</p>
      <p class="mb-0 text-justify">
        <strong>Description:</strong> {{ channel.description }}
      </p>
    </div>
  </div>
  <br />
  <div class="row animated fadeIn fast">
    <div class="col-sm-12">
      <h2>Last Uploads</h2>
    </div>
    <br />
    <div class="col-sm-12">
      <div class="row row-cols-1 row-cols-md-3">
        <div
          class="col mb-4 text-dark pointer animated fadeIn fast"
          *ngFor="let video of channelUploads"
          (click)="showVideo(video)"
        >
          <div class="card h-100">
            <img [src]="video.image" class="card-img-top" [alt]="video.title" />
            <div class="card-body">
              <h5 class="card-title">{{ video.title }}</h5>
              <p class="card-text">
                <strong>Publish at: </strong>{{ video.publish | date }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading2">
    <app-loading></app-loading>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-3">
      <button
        class="btn btn-block btn-outline-danger float-right"
        type="button"
        *ngIf="channel"
        (click)="showMore()"
      >
        Show More
      </button>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>
