<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">
    <img
      src="assets/img/auth.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Auth0 App
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
        <a class="nav-link" [routerLink]="['/prices']">Prices</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
        <a class="nav-link" [routerLink]="['/protected']">Protected</a>
      </li>
    </ul>
    <button
      class="btn btn-outline-danger"
      (click)="auth.logout()"
      *ngIf="auth.loggedIn"
    >
      Logout
    </button>
  </div>
</nav>
