<h1 mat-dialog-title>Marker info</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea rows="3" matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="warn">
    Cancel
  </button>
  <button
    cdkFocusInitial
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
  >
    Save
  </button>
</div>
